<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome</title>
</head>
<body>
        <h3>Welcome to Suborno's kingdom!!!</h3>
        <p>Hi I am very pleased you have visited this site it means you are really well wisher of me. Well I have never doubted you.</p>
        <p>You are really important in my life.You have supported me in when I was in my dark.</p>
        <form action="/love" method="post" name="age">
                <label for="love">on a scale of 10 how much do you love me???</label>
                <input type="range" name="love" >
                <input type="submit" placeholder="done" name="bttn">
        </form>
        <form action="/hate" method="post" name="age">
                <label for="hate">on a scale of 10 how much do you hate me???</label>
                <input type="range" name="hate" >
                <input type="submit" placeholder="done" name="bttn">
        </form>
</body>
</html>